in this we will just cover 
-pySpark dataFrame
-Reading The DataSet
-Checking the data set of the columns
-Selecting Columns and indexing
-Check describe option similir to pandas
-Adding Columns
-Dropping Columns
-Renaming Coumns

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('dataFrame Practic').getOrCreate()

df_pyspark= spark.read.option("header","True").csv('dataset.csv',inferSchema=True)

In [7]:

df_pyspark.printSchema()

root
 |-- Name : string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- experince: integer (nullable = true)

In [10]:
df_pyspark = spark.read.csv("dataSet.csv", header=True, inferSchema=True)
df_pyspark.show()

+------+---+---------+
| Name |Age|experince|
+------+---+---------+
| Ateeb| 19|       10|
|  Umar| 20|        8|
|  Addy| 21|        4|
|Firoj | 22|        6|
+------+---+---------+

<!-- check the schema -->

In [11]:
df_pyspark.printSchema()

root
 |-- Name : string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- experince: integer (nullable = true)

In [12]:
type(df_pyspark)

pyspark.sql.classic.dataframe.DataFrame

In [15]:
# Selecting colums and indexing
df_pyspark.columns
df_pyspark.head(3)

[Row(Name ='Ateeb', Age=19, experince=10),
 Row(Name ='Umar', Age=20, experince=8),
 Row(Name ='Addy', Age=21, experince=4)]

In [16]:
df_pyspark.show()

+------+---+---------+
| Name |Age|experince|
+------+---+---------+
| Ateeb| 19|       10|
|  Umar| 20|        8|
|  Addy| 21|        4|
|Firoj | 22|        6|
+------+---+---------+

In [28]:
# this is how multiple columns are been selected
df_pyspark.select(['Name ','experince']).show()
# print(df_pyspark.columns)
type(df_pyspark.select('Name '))

+------+---------+
| Name |experince|
+------+---------+
| Ateeb|       10|
|  Umar|        8|
|  Addy|        4|
|Firoj |        6|
+------+---------+

pyspark.sql.classic.dataframe.DataFrame

In [29]:
df_pyspark['Name ']

Column<'`Name `'>

In [30]:
# Check the dataTypes
df_pyspark.dtypes

[('Name ', 'string'), ('Age', 'int'), ('experince', 'int')]

In [34]:
# Check the describe option to the 
df_pyspark.describe().show()

+-------+-----+------------------+------------------+
|summary|Name |               Age|         experince|
+-------+-----+------------------+------------------+
|  count|    4|                 4|                 4|
|   mean| NULL|              20.5|               7.0|
| stddev| NULL|1.2909944487358056|2.5819888974716108|
|    min| Addy|                19|                 4|
|    max| Umar|                22|                10|
+-------+-----+------------------+------------------+

In [37]:
# Adding Coloumns and dropping Columns
df_pyspark = df_pyspark.withColumn(
    "experince After 2 Year", df_pyspark["experince"] + 2
)

In [38]:
df_pyspark.show()

+------+---+---------+----------------------+
| Name |Age|experince|experince After 2 Year|
+------+---+---------+----------------------+
| Ateeb| 19|       10|                    12|
|  Umar| 20|        8|                    10|
|  Addy| 21|        4|                     6|
|Firoj | 22|        6|                     8|
+------+---+---------+----------------------+

In [44]:
# Drop the columns
df_pyspark = df_pyspark.drop("experince After 2 Year")

In [45]:
df_pyspark.show()

+------+---+---------+
| Name |Age|experince|
+------+---+---------+
| Ateeb| 19|       10|
|  Umar| 20|        8|
|  Addy| 21|        4|
|Firoj | 22|        6|
+------+---+---------+

In [47]:
# How to remane the columns
df_pyspark.withColumnRenamed('Name ','Name').show()

+------+---+---------+
|  Name|Age|experince|
+------+---+---------+
| Ateeb| 19|       10|
|  Umar| 20|        8|
|  Addy| 21|        4|
|Firoj | 22|        6|
+------+---+---------+