pySpark ML

In [25]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Missing vlaue").getOrCreate()

In [26]:
training = spark.read.csv("test2.csv", header=True, inferSchema=True)

In [27]:
training.show()

+------------+---+---------------+------+
|       Name |Age|     Department|Salary|
+------------+---+---------------+------+
|       Krish| 13|   Data Science| 10000|
|       Ateeb| 20|Web Development| 15000|
|      Mushir| 22| Java Developer| 12500|
|Umar Salmani| 31|       Android | 13500|
|       firoj| 25|        Graphic| 18000|
|     Saniya | 21|        Graphic| 25000|
|       Adnan| 25| Data Analytics| 31000|
|        addu| 16|  Logo Designer| 16000|
|      Sunny | 36|            IOT| 35000|
+------------+---+---------------+------+

In [28]:
training.printSchema()

root
 |-- Name : string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Department: string (nullable = true)
 |-- Salary: integer (nullable = true)

In [29]:
training.columns

['Name ', 'Age', 'Department', 'Salary']

In [30]:
# [Age,Experince,]-----> new feature -----> independenr feature
# for groupingg this we use vectore assembler

In [33]:
from pyspark.ml.feature import VectorAssembler

featureAssembler = VectorAssembler(
    inputCols=['Age','Salary'],
    outputCol='Independent features',
    handleInvalid='skip'
)


# If u have null values in ur csv file it will show u error and u wont be able to indentify where the error is from so look that before u code

In [34]:
# now showing the group work done bye vectore
featureAssembler.transform(training).show()

+------------+---+---------------+------+--------------------+
|       Name |Age|     Department|Salary|Independent features|
+------------+---+---------------+------+--------------------+
|       Krish| 13|   Data Science| 10000|      [13.0,10000.0]|
|       Ateeb| 20|Web Development| 15000|      [20.0,15000.0]|
|      Mushir| 22| Java Developer| 12500|      [22.0,12500.0]|
|Umar Salmani| 31|       Android | 13500|      [31.0,13500.0]|
|       firoj| 25|        Graphic| 18000|      [25.0,18000.0]|
|     Saniya | 21|        Graphic| 25000|      [21.0,25000.0]|
|       Adnan| 25| Data Analytics| 31000|      [25.0,31000.0]|
|        addu| 16|  Logo Designer| 16000|      [16.0,16000.0]|
|      Sunny | 36|            IOT| 35000|      [36.0,35000.0]|
+------------+---+---------------+------+--------------------+