In [3]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.appName("dataFrame").getOrCreate()

In [5]:
# Create a variable
df_pyspark = spark.read.csv("test1.csv", header=True, inferSchema=True)

In [6]:
df_pyspark.show()

+-------------+----+---------+------+
|         Name| Age|Experince|Salary|
+-------------+----+---------+------+
| Ateeb Shaikh|  19|        2| 65000|
|Firoj Tamboli|  22|        6| 15000|
|         umar|  18|        1| 10000|
|   adnan khan|  21|        3|450000|
|sameer shaikh|  23|        1| 40000|
|       shadab|  21|        3| 60000|
|faizan shaikh|NULL|     NULL|120000|
|         NULL|NULL|       10|  4500|
|         NULL|  31|     NULL|  NULL|
|         NULL|  12|     NULL|  NULL|
+-------------+----+---------+------+

In [10]:
# Filter Operator
# salay of the people less then or equal to 20000
df_pyspark.filter("Salary<=20000").show()

+-------------+----+---------+------+
|         Name| Age|Experince|Salary|
+-------------+----+---------+------+
|Firoj Tamboli|  22|        6| 15000|
|         umar|  18|        1| 10000|
|         NULL|NULL|       10|  4500|
+-------------+----+---------+------+

In [11]:
df_pyspark.filter("Salary<=20000").select(['Name','Age']).show()

+-------------+----+
|         Name| Age|
+-------------+----+
|Firoj Tamboli|  22|
|         umar|  18|
|         NULL|NULL|
+-------------+----+

In [13]:
df_pyspark.filter(df_pyspark["Salary"]<=20000).show()

+-------------+----+---------+------+
|         Name| Age|Experince|Salary|
+-------------+----+---------+------+
|Firoj Tamboli|  22|        6| 15000|
|         umar|  18|        1| 10000|
|         NULL|NULL|       10|  4500|
+-------------+----+---------+------+

In [15]:
df_pyspark.filter(
    (df_pyspark["Salary"] <= 20000) | (df_pyspark["Salary"] <= 15000)
).show()

+-------------+----+---------+------+
|         Name| Age|Experince|Salary|
+-------------+----+---------+------+
|Firoj Tamboli|  22|        6| 15000|
|         umar|  18|        1| 10000|
|         NULL|NULL|       10|  4500|
+-------------+----+---------+------+

In [16]:
df_pyspark.filter(~(df_pyspark["Salary"] <= 20000)).show()

+-------------+----+---------+------+
|         Name| Age|Experince|Salary|
+-------------+----+---------+------+
| Ateeb Shaikh|  19|        2| 65000|
|   adnan khan|  21|        3|450000|
|sameer shaikh|  23|        1| 40000|
|       shadab|  21|        3| 60000|
|faizan shaikh|NULL|     NULL|120000|
+-------------+----+---------+------+