pyspark handling missing value
Dropping columns
Dropping Rowa
various parameters in droping functionalities
handing missing values by mean

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Practics').getOrCreate()

In [4]:
# to read the datafile
df = spark.read.csv("test1.csv", header=True, inferSchema=True)

In [5]:
df.show()

+-------------+----+---------+------+
|         Name| Age|Experince|Salary|
+-------------+----+---------+------+
| Ateeb Shaikh|  19|        2| 65000|
|Firoj Tamboli|  22|        6| 15000|
|         umar|  18|        1| 10000|
|   adnan khan|  21|        3|450000|
|sameer shaikh|  23|        1| 40000|
|       shadab|  21|        3| 60000|
|faizan shaikh|NULL|     NULL|120000|
|         NULL|NULL|       10|  4500|
|         NULL|  31|     NULL|  NULL|
|         NULL|  12|     NULL|  NULL|
+-------------+----+---------+------+

In [7]:
# Drop the columns
df.drop("Name").show()

+----+---------+------+
| Age|Experince|Salary|
+----+---------+------+
|  19|        2| 65000|
|  22|        6| 15000|
|  18|        1| 10000|
|  21|        3|450000|
|  23|        1| 40000|
|  21|        3| 60000|
|NULL|     NULL|120000|
|NULL|       10|  4500|
|  31|     NULL|  NULL|
|  12|     NULL|  NULL|
+----+---------+------+

In [8]:
df.show()

+-------------+----+---------+------+
|         Name| Age|Experince|Salary|
+-------------+----+---------+------+
| Ateeb Shaikh|  19|        2| 65000|
|Firoj Tamboli|  22|        6| 15000|
|         umar|  18|        1| 10000|
|   adnan khan|  21|        3|450000|
|sameer shaikh|  23|        1| 40000|
|       shadab|  21|        3| 60000|
|faizan shaikh|NULL|     NULL|120000|
|         NULL|NULL|       10|  4500|
|         NULL|  31|     NULL|  NULL|
|         NULL|  12|     NULL|  NULL|
+-------------+----+---------+------+

In [10]:
# Dropping the null value
df.na.drop().show()

+-------------+---+---------+------+
|         Name|Age|Experince|Salary|
+-------------+---+---------+------+
| Ateeb Shaikh| 19|        2| 65000|
|Firoj Tamboli| 22|        6| 15000|
|         umar| 18|        1| 10000|
|   adnan khan| 21|        3|450000|
|sameer shaikh| 23|        1| 40000|
|       shadab| 21|        3| 60000|
+-------------+---+---------+------+

In [11]:
# Any == how
df.na.drop(how="any").show()

+-------------+---+---------+------+
|         Name|Age|Experince|Salary|
+-------------+---+---------+------+
| Ateeb Shaikh| 19|        2| 65000|
|Firoj Tamboli| 22|        6| 15000|
|         umar| 18|        1| 10000|
|   adnan khan| 21|        3|450000|
|sameer shaikh| 23|        1| 40000|
|       shadab| 21|        3| 60000|
+-------------+---+---------+------+

In [13]:
# thresh
df.na.drop(how="any",thresh=1).show()

+-------------+----+---------+------+
|         Name| Age|Experince|Salary|
+-------------+----+---------+------+
| Ateeb Shaikh|  19|        2| 65000|
|Firoj Tamboli|  22|        6| 15000|
|         umar|  18|        1| 10000|
|   adnan khan|  21|        3|450000|
|sameer shaikh|  23|        1| 40000|
|       shadab|  21|        3| 60000|
|faizan shaikh|NULL|     NULL|120000|
|         NULL|NULL|       10|  4500|
|         NULL|  31|     NULL|  NULL|
|         NULL|  12|     NULL|  NULL|
+-------------+----+---------+------+

In [15]:
# Subset
df.na.drop(how="any",subset=['Age']).show()

+-------------+---+---------+------+
|         Name|Age|Experince|Salary|
+-------------+---+---------+------+
| Ateeb Shaikh| 19|        2| 65000|
|Firoj Tamboli| 22|        6| 15000|
|         umar| 18|        1| 10000|
|   adnan khan| 21|        3|450000|
|sameer shaikh| 23|        1| 40000|
|       shadab| 21|        3| 60000|
|         NULL| 31|     NULL|  NULL|
|         NULL| 12|     NULL|  NULL|
+-------------+---+---------+------+