GroupBY and Aggregate Function

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('GroupByAggregateFunction').getOrCreate()

In [3]:
spark

In [4]:
dfPyspark = spark.read.csv("test2.csv", inferSchema=True, header=True)

In [5]:
dfPyspark.show()

+------------+---------------+------+
|       Name |     Department|Salary|
+------------+---------------+------+
|       Krish|   Data Science| 10000|
|       Ateeb|Web Development| 15000|
|      Mushir| Java Developer| 12500|
|Umar Salmani|       Android | 13500|
|       firoj|        Graphic| 18000|
|     Saniya |        Graphic| 25000|
|       Adnan| Data Analytics| 31000|
|        addu|  Logo Designer| 16000|
|      Sunny |            IOT| 35000|
+------------+---------------+------+

In [6]:
dfPyspark.printSchema()

root
 |-- Name : string (nullable = true)
 |-- Department: string (nullable = true)
 |-- Salary: integer (nullable = true)

In [7]:
# GroupBy Operation
# dfPyspark.groupBy('Name').sum()

# This is used to find the maximum salary of a person who has same name in a data frame
dfPyspark.groupBy("Name ").sum().show()

+------------+-----------+
|       Name |sum(Salary)|
+------------+-----------+
|Umar Salmani|      13500|
|       Ateeb|      15000|
|       Adnan|      31000|
|      Mushir|      12500|
|       Krish|      10000|
|      Sunny |      35000|
|     Saniya |      25000|
|        addu|      16000|
|       firoj|      18000|
+------------+-----------+

In [8]:
# Group by department to see which group give max salry 
dfPyspark.groupBy("Department").sum().show()

+---------------+-----------+
|     Department|sum(Salary)|
+---------------+-----------+
|  Logo Designer|      16000|
|            IOT|      35000|
| Data Analytics|      31000|
|Web Development|      15000|
| Java Developer|      12500|
|   Data Science|      10000|
|        Graphic|      43000|
|       Android |      13500|
+---------------+-----------+

In [9]:
# To find mean
dfPyspark.groupBy("Department").mean().show()

+---------------+-----------+
|     Department|avg(Salary)|
+---------------+-----------+
|  Logo Designer|    16000.0|
|            IOT|    35000.0|
| Data Analytics|    31000.0|
|Web Development|    15000.0|
| Java Developer|    12500.0|
|   Data Science|    10000.0|
|        Graphic|    21500.0|
|       Android |    13500.0|
+---------------+-----------+

In [10]:
# To find no of employee working
dfPyspark.groupBy("Department").count().show()

+---------------+-----+
|     Department|count|
+---------------+-----+
|  Logo Designer|    1|
|            IOT|    1|
| Data Analytics|    1|
|Web Development|    1|
| Java Developer|    1|
|   Data Science|    1|
|        Graphic|    2|
|       Android |    1|
+---------------+-----+

In [11]:
# Aggregate start from here
dfPyspark.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|     176000|
+-----------+

In [12]:
dfPyspark.groupBy("Name ").avg().show()
# All the opration are done on same name

+------------+-----------+
|       Name |avg(Salary)|
+------------+-----------+
|Umar Salmani|    13500.0|
|       Ateeb|    15000.0|
|       Adnan|    31000.0|
|      Mushir|    12500.0|
|       Krish|    10000.0|
|      Sunny |    35000.0|
|     Saniya |    25000.0|
|        addu|    16000.0|
|       firoj|    18000.0|
+------------+-----------+