pyspark handling missing value
Dropping columns
Dropping Rowa
various parameters in droping functionalities
handing missing values by mean

In [28]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Practics').getOrCreate()

In [29]:
# to read the datafile
df = spark.read.csv("test1.csv", header=True, inferSchema=True)

In [30]:
df.show()

+-------------+----+---------+------+
|         Name| Age|Experince|Salary|
+-------------+----+---------+------+
| Ateeb Shaikh|  19|        2| 65000|
|Firoj Tamboli|  22|        6| 15000|
|         umar|  18|        1| 10000|
|   adnan khan|  21|        3|450000|
|sameer shaikh|  23|        1| 40000|
|       shadab|  21|        3| 60000|
|faizan shaikh|NULL|     NULL|120000|
|         NULL|NULL|       10|  4500|
|         NULL|  31|     NULL|  NULL|
|         NULL|  12|     NULL|  NULL|
+-------------+----+---------+------+

In [31]:
# Drop the columns
df.drop("Name").show()

+----+---------+------+
| Age|Experince|Salary|
+----+---------+------+
|  19|        2| 65000|
|  22|        6| 15000|
|  18|        1| 10000|
|  21|        3|450000|
|  23|        1| 40000|
|  21|        3| 60000|
|NULL|     NULL|120000|
|NULL|       10|  4500|
|  31|     NULL|  NULL|
|  12|     NULL|  NULL|
+----+---------+------+

In [32]:
df.show()

+-------------+----+---------+------+
|         Name| Age|Experince|Salary|
+-------------+----+---------+------+
| Ateeb Shaikh|  19|        2| 65000|
|Firoj Tamboli|  22|        6| 15000|
|         umar|  18|        1| 10000|
|   adnan khan|  21|        3|450000|
|sameer shaikh|  23|        1| 40000|
|       shadab|  21|        3| 60000|
|faizan shaikh|NULL|     NULL|120000|
|         NULL|NULL|       10|  4500|
|         NULL|  31|     NULL|  NULL|
|         NULL|  12|     NULL|  NULL|
+-------------+----+---------+------+

In [33]:
# Dropping the null value
df.na.drop().show()

+-------------+---+---------+------+
|         Name|Age|Experince|Salary|
+-------------+---+---------+------+
| Ateeb Shaikh| 19|        2| 65000|
|Firoj Tamboli| 22|        6| 15000|
|         umar| 18|        1| 10000|
|   adnan khan| 21|        3|450000|
|sameer shaikh| 23|        1| 40000|
|       shadab| 21|        3| 60000|
+-------------+---+---------+------+

In [34]:
# Any == how
df.na.drop(how="any").show()

+-------------+---+---------+------+
|         Name|Age|Experince|Salary|
+-------------+---+---------+------+
| Ateeb Shaikh| 19|        2| 65000|
|Firoj Tamboli| 22|        6| 15000|
|         umar| 18|        1| 10000|
|   adnan khan| 21|        3|450000|
|sameer shaikh| 23|        1| 40000|
|       shadab| 21|        3| 60000|
+-------------+---+---------+------+

In [35]:
# thresh
df.na.drop(how="any",thresh=1).show()

+-------------+----+---------+------+
|         Name| Age|Experince|Salary|
+-------------+----+---------+------+
| Ateeb Shaikh|  19|        2| 65000|
|Firoj Tamboli|  22|        6| 15000|
|         umar|  18|        1| 10000|
|   adnan khan|  21|        3|450000|
|sameer shaikh|  23|        1| 40000|
|       shadab|  21|        3| 60000|
|faizan shaikh|NULL|     NULL|120000|
|         NULL|NULL|       10|  4500|
|         NULL|  31|     NULL|  NULL|
|         NULL|  12|     NULL|  NULL|
+-------------+----+---------+------+

In [36]:
# Subset
df.na.drop(how="any",subset=['Age']).show()

+-------------+---+---------+------+
|         Name|Age|Experince|Salary|
+-------------+---+---------+------+
| Ateeb Shaikh| 19|        2| 65000|
|Firoj Tamboli| 22|        6| 15000|
|         umar| 18|        1| 10000|
|   adnan khan| 21|        3|450000|
|sameer shaikh| 23|        1| 40000|
|       shadab| 21|        3| 60000|
|         NULL| 31|     NULL|  NULL|
|         NULL| 12|     NULL|  NULL|
+-------------+---+---------+------+

In [41]:
# Filling the missing value
df.na.fill("Missing Value").show()

+-------------+----+---------+------+
|         Name| Age|Experince|Salary|
+-------------+----+---------+------+
| Ateeb Shaikh|  19|        2| 65000|
|Firoj Tamboli|  22|        6| 15000|
|         umar|  18|        1| 10000|
|   adnan khan|  21|        3|450000|
|sameer shaikh|  23|        1| 40000|
|       shadab|  21|        3| 60000|
|faizan shaikh|NULL|     NULL|120000|
|Missing Value|NULL|       10|  4500|
|Missing Value|  31|     NULL|  NULL|
|Missing Value|  12|     NULL|  NULL|
+-------------+----+---------+------+

In [42]:
df.show()

+-------------+----+---------+------+
|         Name| Age|Experince|Salary|
+-------------+----+---------+------+
| Ateeb Shaikh|  19|        2| 65000|
|Firoj Tamboli|  22|        6| 15000|
|         umar|  18|        1| 10000|
|   adnan khan|  21|        3|450000|
|sameer shaikh|  23|        1| 40000|
|       shadab|  21|        3| 60000|
|faizan shaikh|NULL|     NULL|120000|
|         NULL|NULL|       10|  4500|
|         NULL|  31|     NULL|  NULL|
|         NULL|  12|     NULL|  NULL|
+-------------+----+---------+------+

In [43]:
from pyspark.ml.feature import Imputer

Imputer = Imputer(
    inputCols=['Age','Experince','Salary'],
    outputCols=["{}_imputer".format(c) for c in ['Age','Experince','Salary']]
).setStrategy("mean")

In [44]:
# write imputer cols to df
Imputer.fit(df).transform(df).show()

+-------------+----+---------+------+-----------+-----------------+--------------+
|         Name| Age|Experince|Salary|Age_imputer|Experince_imputer|Salary_imputer|
+-------------+----+---------+------+-----------+-----------------+--------------+
| Ateeb Shaikh|  19|        2| 65000|         19|                2|         65000|
|Firoj Tamboli|  22|        6| 15000|         22|                6|         15000|
|         umar|  18|        1| 10000|         18|                1|         10000|
|   adnan khan|  21|        3|450000|         21|                3|        450000|
|sameer shaikh|  23|        1| 40000|         23|                1|         40000|
|       shadab|  21|        3| 60000|         21|                3|         60000|
|faizan shaikh|NULL|     NULL|120000|         20|                3|        120000|
|         NULL|NULL|       10|  4500|         20|               10|          4500|
|         NULL|  31|     NULL|  NULL|         31|                3|         95562|
|         NULL|  12|     NULL|  NULL|         12|                3|         95562|
+-------------+----+---------+------+-----------+-----------------+--------------+